/* Default  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

/* SETTINGS VARIABLE ROOT */

:root{
    --white : #fff;
    --black : black; 
    --gray : #717171;
}

img {

max-width: 100%;

}





/* SETTING MAIN BLOCKS  */

/* Setting MAIN container  */

.container {
    display: flex;
    height: 90vh;
    width: 100%;
}


/* Setting LEFT SIDEBAR  */
.sidebar{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  /* min-width: 120px; */
  z-index: 99;
  background-color: black;
}

.card-side{
  padding-top: 10px;
  padding-left: 10px;
  color: var(--gray);
}

.logo-small{
    height: 20px;
    position: absolute;
    display: none;
}



.card-side a{
    display: inline-block;
}

.card-side div{
    padding-right: 20px;
    padding-top: 27px;
    /* debug */
    line-height: 37px;
}

.card-side ul, .card-side p{
    font-size: small;    
    
}

.card-side ul{
    margin-top: 10px;
}

.card-side ul li {
    line-height: 20px;
}

.card-side ul img {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.card-side ul h5{
    display: inline-block;
    vertical-align: middle;
}

.card-side i{
    font-size: 30px;
    margin-right: 2px;
    vertical-align: middle;
}

.card-side p{
    display: inline-block;
    vertical-align: middle;
}


/* SETTINGS MAIN CENTRAL BOX  */
.main-box{
    position: relative;
    display: flex;
    background-color: blueviolet;
    width: 100%;
    flex-wrap: wrap;

}

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: flex-start;
    width: 100%;
    height: 10vh;
    background-color: #080B12;
    z-index: 99;
}

header a {
    display: block;
    text-decoration: none;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid white;
    padding-left: 1em;
    padding-right: 1em;
   border-radius: 2em;
}

/* Setting Main  */
main {
    overflow: scroll;
    position: absolute; 
    top: 10vh;
    height: 80vh;
    width: 100%;
    background-color: #141922;
    overflow-x: hidden;
}

main h2 , main p{
    padding-left: 1rem;
}


main ul{
    list-style: none;
}

main ul li{
    display: inline-block;
    margin-right: 10px;
}

.menu-list{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.container-music{
    display: flex;
    align-content: flex-start;
    margin-bottom: 15px

}

.card-sing{
    text-align: center;
    margin-left: 1rem;
    width: calc(100% / 6 - ( 1rem * 7 / 6 ));
}

.card-sing h3{
    margin-bottom: 5px;
}

.card-sing img{
    object-fit: cover;
}

.circle-img{
    border-radius: 50%;
}



/* SETTINGS FOOTER SECTION  */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: #282828;
    z-index: 100;
}

.footer-box{
    display: flex;
     margin-left: 10px;
     margin-right: 10px;
     align-items: center;
    
    /* debug */
    /* background-color: lightcoral; */
    /* height: 50px;
    /* width: 100px; */
} 

.mini-img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.mini-img img{
    object-fit: cover;
}

.title-sing{
    margin-right: 22px;
}

.time-big{
    width: 50vh;
    height: 5px;
    border-radius: 5px;
    vertical-align: middle;
    background-color: #585858;
    border: 0;
}


.time-little{
    width: 20vh;
    height: 5px;
    border-radius: 5px;
    vertical-align: middle;
    background-color: #585858;
    border: 0;
    margin-right: 10px;
}

.time-play{
    width: 30px;
    height: 5px;
    border-radius: 5px;
    vertical-align: middle;
     border: 0;
    margin-right: 10px;
    background-color: #fff;
    position: absolute;
    
}

.top-7{
    top: 7px;
}

.left-40{
    left: 40px;
}

.m-rightMin20{
    margin-right: -20px;
}





/* SETTING MEDIA QUERY   */


/* Setting Media Query max 1100px */

@media screen and (max-width: 1100px){
    

/* Settings Main  */
.container-music{
    flex-wrap: wrap;
    row-gap: 1rem;
}
.card-sing{
    width: calc(100% / 4 - ( 1rem * 5 / 4));

}

}



/* Setting Media Query max 700px */

@media screen and (max-width: 700px){
    
/* Settings Main  */

.card-sing{
    width: calc(100% / 2 - (1rem * 3 / 2));
}




}


/* Setting Media Query max 600px */

@media screen and (max-width: 600px){
    
 /* SETTING Sidebar Section */

.sidebar{
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 9vh;
    min-width: 9vh;
    text-align: center;
}


.sidebar li, .sidebar p, .sidebar hr{
    display: none;
}

.sidebar ul h5{
    display: none;
}

.card-side{
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    text-align: center;
}

.card-side div{
    padding-right: 0;
}


.card-side i{
    display: block;
    margin-bottom: 10px;
}

.logo-small{
    display: inline-block;
    position: static;
    vertical-align: middle;
}

.logo-big{
    display: none;
}


}





/* SETTING MEDIA QUERY for Mx HEIGH 350px  */

@media screen and (max-height: 350px){


footer{
    min-height: 100px;
}

header{
    min-height: 100px;
}






}





/* UTILITY  */

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);
}

.text-gray{
    color: var(--gray);
}

.text-small{
    font-size: small;
}

.inline{
    display: inline-block;
}

.text-w800{
    font-weight: 800;
}

.bot-20{
    margin-bottom: 20px;
}

.text-cent{
    text-align: center;
}

.pad-left15{
    padding-left: 15px;
}

.x-large{
    font-size: x-large;
}

.pad-right15{
    padding-right: 15px;
}

.height-5{
    height: 5px;
}

.pos-rel{
    position: relative;
}