/* Default  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}


/* SETTING MAIN BLOCKS  */

/* Setting MAIN container  */

.container {
    display: flex;
    height: 85vh;
    width: 100%;
}


/* Setting LEFT SIDEBAR  */
.sidebar{

  display: flex;
  height: 100%;
  min-width: 120px;
  z-index: 99;

/* debug */
background-color: lightgreen;

}

/* SETTINGS MAIN CENTRAL BOX  */
.main-box{
    position: relative;
    display: flex;
    background-color: blueviolet;
    width: 100%;
    flex-wrap: wrap;

}

header{
    position: fixed;
    width: 100%;
    height: 15vh;
    background-color: chartreuse;
    z-index: 99;
}

main {
    overflow: scroll;
    position: absolute; 
    top: 15vh;
    height: 70vh;
    width: 100%;
    background-color: coral;
}

/* SETTINGS FOOTER SECTION  */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background-color: yellow;
    z-index: 100;
}













/* SETTING MEDIA QUERY   */


/* Setting Media Query max 1100px */

@media screen and (max-width: 1100px){
    





}



/* Setting Media Query max 1100px */

@media screen and (max-width: 700px){
    





}


/* Setting Media Query max 1100px */

@media screen and (max-width: 600px){
    





}









